<div class="containter editForm">
  <div class="row">
    <div class="col text-center">
      <h1>Edit Questionaire - {{ id }}</h1>
    </div>
  </div>
  <form [formGroup]="questionaireForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Form Title</label>
          <input type="text" class="form-control" formControlName="title" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Created On</label>
          <input type="text" class="form-control" formControlName="createdDate" />
        </div>
      </div>
    </div>
    <!-- for each question in questionaireForm.questions -->
      <!-- add a question field -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary btn-sm" (click)="addNewQuestion()">Add New Question</button>
      </div>
    </div>
    <div class="row row-cols-1" formArrayName="questions">
      <div class="col m-2" *ngFor="let question of questions.controls; let i = index;" [formGroupName]="i">
        <div class="mb-3">
          <label class="form-label">Question Text</label>
          <input type="text" class="form-control" formControlName="prompt" />
        </div>
        <div class="mb-3">
          <label class="form-label">Question Type</label>
          <input type="number" class="form-control" formControlName="promptType" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<pre>{{ questionaireForm.value | json }}</pre>
<pre>{{ questionaire | json }}</pre>
