<div class="containter editForm">
  <div class="row">
    <div class="col text-center">
      <h1>Edit Questionaire - {{ id }}</h1>
    </div>
  </div>
  <form [formGroup]="questionaireForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text">Form Title</span>
          <input type="text" class="form-control" formControlName="title" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text">Created On</span>
          <input type="text" class="form-control" formControlName="createdDate" />
        </div>
      </div>
    </div>
    <!-- for each question in questionaireForm.questions -->
      <!-- add a question field -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary btn-sm" (click)="addNewQuestion()">Add New Question</button>
      </div>
    </div>
    <div class="row row-cols-1" formArrayName="questions">
      <div class="col m-2" *ngFor="let question of questions.controls; let i = index;" [formGroupName]="i">
        <div class="input-group">
          <label class="input-group-text">Question Text</label>
          <input type="text" class="form-control" formControlName="questionText" />
        </div>
        <div class="input-group">
          <label class="input-group-text">Question Type</label>
          <input type="number" class="form-control" formControlName="questionType" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
