<link rel="stylesheet" href="home.css" />
<img src="http://www.centralia.edu/_resources/img/centralia-logo.png" alt="Centralia College Logo" />

<h1>Student Evaluation of Faculty</h1>
<h2>Survey Application</h2>

<div class="statement">
  <h3>
    Welcome to Centralia College's Student Evaluation of Faculty Application.
  </h3>
</div>

<div class="studentStatement">
  <p>
    Centralia College is always looking for ways to improve their instruction. This survey will be used to
    provide feedback for your instructor. Students, your partcipation is voluntary. You will remain anonymous and no identifying information will be kept
    or included in the results. Thank you for your participation.
  </p>


</div>

<div class="buttonSurvey">
  <p>Students start here:</p>
  <surveyButton type="submit">Student Survey</surveyButton>
  <!--We talked in class about the proctor opening a survey and entering a code. The assumption here
    is that this button would redirect to a place where students would do just that.-->
</div>




<div class="buttonAdmin">
  <adminButton type="submit">Administrators</adminButton>
  <!--The Proctor would need a way to open and close surveys. This could provide a way for the proctor
    to navigate to where they need to go to do that. This could also provide a way for administrators to view
    results, edit the survey, etc.-->
  <br />
</div>

<div class="buttonFaculty">
  <facultyButton type="submit">Faculty</facultyButton>
  <!--Since this survey app will be compiling results to be viewed, this button could provide a way
    for the faculty to view their results.-->
</div>
