
<body>
 <div class=" container-fluid">

   <div class="text-center">
     <h1 class="fw-bold">Welcome To Centralia College Survey App</h1>
     <br />
     <br />
     <img src="http://www.centralia.edu/_resources/img/centralia-logo.png"
          class="img-responsive center-block" alt=" " />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <p class="fs-3">
       Centralia College is always looking for ways to improve their instruction.
       This survey will be used to provide feedback for your instructor.
       Students, your partcipation is voluntary.
       You will remain anonymous and no identifying information will be kept or included in the results.
       Thank you for your participation.
     </p>
     <br />
     <br />
     <p class="fs-3">Type your survey code below:</p>
     <form>
       <input type="text" id="surveyCode" name="surveyCode"><br>
     </form>
     <br />
     <br />
     <br />
     <button type="button" class="btn btn-outline-dark"
             style="--bs-btn-padding-y: 1rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">
       Start Survey
     </button>
     <br />
     <br />
     <br />
     <br />
     <br />
   </div>

   
   
  </div>
</body>
  
>

