<div class="container QuestionaireItem">

  <div class="row border border-dark border-2 rounded m-2">
  <div class="row" id="QuestionaireID">
    <div class="col d-flex space-between">
      <span id="Questionaire">  a3b123</span>
      <label for="surveyname"> Questionaire title: </label>
      <label for="Revisiondate"> Revision: 10/27/23 </label>
      <button type="button" style="background-color:red;">Delete</button>
      <button type="button">Edit</button>
      <button type="button">Start</button>
    </div>
  </div>
</div>
</div>


<!--gets last modified date?-->
<!--<script>
  let text = Questionaire.lastModified;
  HTMLFormElement.getElementById("QuestionaireID").innerHTML = text;
</script>-->
<!--creates id?-->
<!--<div id="Questionaire"> a3b123 <span id="Questionaire"></span> </div>-->
