<div class="container QuestionaireItem">

  <div class="row border border-dark border-2 rounded m-2">
  <div class="row" id="QuestionaireID">
    <div class="col">

      <!--&nbsp; = space between each thing-->


      <span id="Questionaire">  a3b123</span>
      &nbsp;&nbsp;&nbsp;
      <label for="surveyname"> Questionaire title: </label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

      <label for="Revisiondate"> Revision: 10/27/23 </label>


      &nbsp;&nbsp;&nbsp;
      <button type="button" style="background-color:red;">Delete</button>
      &nbsp;&nbsp;&nbsp;
      <button type="button">Edit</button>
      &nbsp;&nbsp;&nbsp;
      <button type="button">Start</button>





    </div>
  </div>
</div>
</div>


<!--gets last modified date?-->
<!--<script>
  let text = Questionaire.lastModified;
  HTMLFormElement.getElementById("QuestionaireID").innerHTML = text;
</script>-->
<!--creates id?-->
<!--<div id="Questionaire"> a3b123 <span id="Questionaire"></span> </div>-->
