<p>survey-page works!</p>
<html>
<head>
  <title> Survey Page </title>
  <link>
</head>
<body>
 
  <nav>
    <p>CCSurveys</p>
    <p>Survey ID: 1</p>

    
    <button>Start</button>
    <button> Location</button>
    <button>Administrator</button>
    
    <ul>
      <li><a href="#">Home</a></li>
      <li> <a href="#">Manage Surveys</a>
           <ul>
             <li align="center"><a href="#">Create A Survey</a></li>
             <li align="center"><a href="#">Check Results</a></li>
             <li align="center"><a href="#">Edit Survey</a></li>
             <li align="center"><a href="#">I am a teapot</a></li>

           </ul>
      </li>
    </ul>
  </nav>
  
</body>
</html>
